// Navbar
//
$navbar-dark-color: hsla(0, 0%, 100%, .3);
$navbar-dark-hover-color: rgba($white, 1);

$navbar-padding-y: .95rem;
$navbar-padding-x: 1rem;

// Nav Tabs
//
$nav-tabs-border-color: $border-color;
$nav-tabs-link-hover-border-color : $border-color;
$nav-tabs-link-active-border-color: $border-color;

