@import '../node_modules/bootstrap/scss/functions';

/**
 *
 * Quickly modify global styling by enabling or disabling optional features.
 *
 */
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

/* FontAwesome */
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';

@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

/* Colors */
@import 'colors';

/* Spacing */
@import 'spacing';

/* Grid breakpoints */
@import 'grid';

/**
 * Components
 */

/* Button */
@import 'buttons';

/* Font */
@import 'fonts';

/* Navbar */
@import 'navs';
