<nav class="navbar navbar-toggleable-md navbar-dark bg-dark-blue fixed-top">
  <a class="navbar-brand" routerLink="/">
    Healthcare Service
  </a>

  <ul class="navbar-nav navbar-right">

    <li class="nav-item" routerLinkActive="active" *ngIf="isDoctor()">
      <a class="nav-link" routerLink="/doctor">
        <i class="fas fa-user-md margin--right__xs"></i>
        Doctor
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active" *ngIf="isDoctor()">
        <a class="nav-link" routerLink="/doctor/patient">
          <i class="fas fa-users margin--right__xs"></i>
          Patients
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="isDoctor()">
          <a class="nav-link" routerLink="/doctor">
            <i class="fas fa-user-nurse margin--right__xs"></i>
            Caregivers
          </a>
      </li>
      
      <li class="nav-item" routerLinkActive="active" *ngIf="isDoctor()">
          <a class="nav-link" routerLink="/doctor">
            <i class="fas fa-file-medical margin--right__xs"></i>
            Medication Plan
          </a>
      </li>

    <li class="nav-item">
      <!-- Binding header.component.logout() method to the link onClick event -->
      <a class="nav-link logout-link" (click)="logout()">
        Logout
        <i class="fas fa-sign-out-alt margin--left__sm"></i>
      </a>
    </li>

  </ul>
</nav>