<nav class="navbar navbar-toggleable-md navbar-dark bg-dark-blue fixed-top">
  <a class="navbar-brand" routerLink="/">
    Healthcare Service
  </a>

  <ul class="navbar-nav navbar-right">

    <li class="nav-item" routerLinkActive="active" *ngIf="isDoctor()">
      <a class="nav-link" routerLink="/doctor">
        <i class="fas fa-users margin--right__xs"></i>
        Doctor
      </a>
    </li>

    <li class="nav-item">
      <!-- Binding header.component.logout() method to the link onClick event -->
      <a class="nav-link logout-link" (click)="logout()">
        Logout
        <i class="fas fa-sign-out-alt margin--left__sm"></i>
      </a>
    </li>

  </ul>
</nav>