<div class="row justify-content-center mt-4">
  <div class="col">
    <div class="card border-secondary">

      <!-- Card Header: holding the patient's name -->
      <h4 class="card-header bg-secondary">
        {{ patientData.name }}
      </h4>
      <!-- End: Card Header -->

      <!-- Card Body: holding the editable patient fields -->
      <div class="card-body">
        <div class="my-4">

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="col-form-label" for="inputLarge">First Name</label>
                <input class="form-control" type="text" name="name" required [(ngModel)]="patientData.name">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="col-form-label" for="inputLarge">Email</label>
                  <input class="form-control" type="text" name="username" required [(ngModel)]="patientData.username">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="col-form-label" for="inputLarge">Gender</label>
                  <input class="form-control" type="text" name="gender" required [(ngModel)]="patientData.gender">
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label class="col-form-label" for="inputLarge">Birthday</label>
                <input class="form-control" type="text" name="birthday" required [(ngModel)]="patientData.birthday">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="col-form-label" for="inputLarge">Address</label>
                <input class="form-control" type="text" name="address" required [(ngModel)]="patientData.address">
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- End: Card Body -->

      <!-- Card footer: holding the Save / Cancel and Delete button for single patient data -->
      <div class="card-footer text-muted">
        <div class="form-inline d-flex">
          <!-- Save -->
          <button type="button" class="btn btn-primary mr-2" role="button" (click)="onPatientSave()">
            Save data
          </button>
          <!-- Cancel -->
          <button type="button" class="btn btn-outline-primary" role="button">
            <i class=" fas fa-times mr-2"></i>
            Cancel
          </button>
          <!-- Delete -->
          <!-- <button type="button" class="btn btn-danger ml-auto" role="button" [disabled]="isRemoving || isSaving"
              [ngClass]="{'disabled': isRemoving}" (click)="onPatientRemove()">
              <i class="fas fa-trash" *ngIf="!isRemoving"></i>
              <i class="fa fa-spinner fa-spin" *ngIf="isRemoving"></i>
            </button> -->
        </div>
      </div>
      <!-- End: Card footer -->
    </div>
    <div class="card border-secondary">
      <h4 class="card-header bg-secondary">
        {{patientData.name}}'s Medical Record
      </h4>

      <!-- <div class="row"> *ngFor="let medicalRecord of patientData.medicalRecord.all; let i = index">
          <small class="badge badge-pill relevancy-weight">{{ index + 1}}</small>
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1 font-weight-bold ml-5 margin--left__lg">{{ medicalRecord.lastname }}</h6>
          </div>
          <small class="text-muted font-italic ml-5 margin--left__lg">{{ medicalRecord.firstname }}</small>
        </div> -->

    </div>
  </div>
</div>