@import '../client-list.component.scss';

.card-item {
  border-radius: 0;
  max-height: $card-height;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  h6 {
    color: $gray-700;
  }

  .relevancy-weight {
    background-color: $blue-2;
    border-radius: 50%;
    color: $white;
    font-size: $spacer;
    font-weight: 500;
    height: 30px;
    left: $spacer;
    line-height: 1.75rem;
    padding: 0;
    position: absolute;
    top: 1.2rem;
    width: 30px;
  }

  &.active,
  &:hover {
    background-color: $blue-2;
    border-color: $blue-2;
    box-shadow: 0 8px 8px rgba(1, 67, 163, .24), 0 0 8px rgba(1, 67, 163, .12), 0 6px 18px rgba(43, 133, 231, .12);
    cursor: pointer;
    transform: translateY(1);
    -webkit-transform: translateY(1);
    z-index: 100;

    h6 {
      color: $white;
    }

    .relevancy-weight {
      background-color: $white;
      color: $blue-2;
    }
  }
}
