#button-order{
    margin-left: 85%;
}

.row{
    display: flex;
    flex-direction: column;
}
.pacient{
    display: flex;
}

.btns {
    margin-left: 75%;
    margin-top: 10px;
}

.name {
    margin-top: 10px;
    font-size: 23px;
    margin-left: 5px;
}